*
!.gitignore
!xdg-terminals.list
!starship.toml

!ba-sh/
!ba-sh/**

!fish/
!fish/**

!kitty/
!kitty/**

!nvim/
!nvim/**

!hypr/
!hypr/**

!sway/
!sway/**

!waybar/
!waybar/**

!fuzzel/
!fuzzel/**

!xplr/
!xplr/**

!swaync/
!swaync/**

!zellij/
!zellij/**


!walls/
!walls/1.jpeg
