*
!.gitignore

!xdg-terminals.list

!starship.toml

!ba-sh/
!ba-sh/**

!fish/
!fish/**


!fuzzel/
!fuzzel/**

!hypr/
!hypr/**

!kitty/
!kitty/**

!nvim/
!nvim/**

!sway/
!sway/**

!swaync/
!swaync/**


!waybar/
!waybar/**

!xplr/
!xplr/**

!yazi/
!yazi/**


!zellij/
!zellij/**

!walls/
!walls/**

