*
!.gitignore

!xdg-terminals.list

!starship.toml

!applications/
!applications/**

!bin/
!bin/**

!ba-sh/
!ba-sh/**

!fish/
!fish/**


!fuzzel/
!fuzzel/**

!hypr/
!hypr/**

!kitty/
!kitty/**

!kmonad/
!kmonad/**

!nvim/
!nvim/**

!service-file/
!service-file/**

!sway/
!sway/**

!swaync/
!swaync/**


!waybar/
!waybar/**

!wofi/**
!wofi/

!xplr/
!xplr/**

!yazi/
!yazi/**


!zellij/
!zellij/**

!walls/
!walls/**

